UAMShop/UAMShop.v11.suo
UAMShop/CategoryModule/bin
UAMShop/CategoryModule/obj
UAMShop/ConnectionManage/bin
UAMShop/ConnectionManage/obj
UAMShop/LoginModule/bin
UAMShop/LoginModule/obj
UAMShop/MenuModule/bin
UAMShop/MenuModule/obj
UAMShop/NotificationModule/bin
UAMShop/NotificationModule/obj
UAMShop/ProductModule/bin
UAMShop/ProductModule/obj
UAMShop/UAMShop/bin
UAMShop/UAMShop/obj
UAMShop/UserModule/bin
UAMShop/UserModule/obj